<div class="container user-form-container bg-light">
  <form [formGroup]="userForm" (ngSubmit)="addOrEditUser()">
    <div class="form-group">
      <label>User id</label>
      <input
        class="form-control"
        formControlName="userId"
        placeholder="enter user id"
        [disabled]="isEditUser"
      />
      <div *ngIf="getControl.userId.touched && getControl.userId.invalid">
        <p *ngIf="getControl.userId.errors?.required" class="text-danger">
          this field is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        class="form-control"
        formControlName="password"
        placeholder="enter password"
      />
      <div *ngIf="getControl.password.touched && getControl.password.invalid">
        <p *ngIf="getControl.password.errors?.required" class="text-danger">
          this field is required
        </p>
        <p *ngIf="getControl.password.errors?.pattern" class="text-danger">
          must contain capital small letter and special character
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input
        class="form-control"
        formControlName="firstName"
        placeholder="enter first name"
      />
      <div *ngIf="getControl.firstName.touched && getControl.firstName.invalid">
        <p *ngIf="getControl.firstName.errors?.required" class="text-danger">
          this field is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        class="form-control"
        formControlName="lastName"
        placeholder="enter first name"
      />
    </div>
    <div class="form-group">
      <label>User Type</label>
      <select class="form-control" formControlName="userType">
        <option value="general">General</option>
        <option value="admin">Admin</option>
      </select>
      <div *ngIf="getControl.userType.touched && getControl.userType.invalid">
        <p *ngIf="getControl.userType.errors?.required" class="text-danger">
          this field is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Date of Birth</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          formControlName="dateOfBirth"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <div
        *ngIf="getControl.dateOfBirth.touched && getControl.dateOfBirth.invalid"
      >
        <p *ngIf="getControl.dateOfBirth.errors?.required" class="text-danger">
          this field is required
        </p>
      </div>
    </div>
    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">
      {{ isEditUser ? "Update User" : "Add User" }}
    </button>

    <input type="reset" text="reset" class="btn btn-danger" />
  </form>
</div>
