<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Grocers Admin App</h1>
    <p class="lead">
      This application is for the admins of Grocers application. this app is to
      manage the users and products of the application.
    </p>
    <hr class="my-4" />
    <p>You can perform the following operations</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="users" role="button"
        >View Users</a
      >
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="products" role="button"
        >View Products</a
      >
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" routerLink="addUser"
        >Add User</a
      >
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="addProduct" role="button"
        >Add Product</a
      >
    </p>
  </div>
</div>
